<h1><%= @user.first_name %> user id: <%= @user.id %></h1>
<%= link_to('log off', signout_path) %>
<hr>

<h2><All secret</h2>
<table>
	<tr>
		<td>Secret</td>
		<td>Actions</td>
	</tr>
	<% @secrets.each do |secret| %>
	<tr>
		
		<td>
			<p>
				<%= secret.content %><br>
				<%= secret.id %> (secret id)<br>
				<%= @user.id %> (current login user id)
				<%= secret.user_id %> (secret created by: user id)
			</p>
			<div>
				<%= Like.where(secret_id: secret.id).count %> Like

				<form action='/likes' method='post'>
				  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				  <input type='hidden' name='like[user_id]' value='<%= @user.id %>'>
				  <input type='hidden' name='like[secret_id]' value='<%= secret.id %>'>

				  <input type='submit' value='like' />
				</form>
				<% 
				mylike = current_like(@user.id, secret.id)
				if !mylike.nil? %>
				<a href="/likes/<%= mylike.id %>" data-method='delete'>Unlike</a>
				<% end %>
			




			</div>
		</td>
		<td>
		<% if @user.id == secret.user_id %>
					<a href="/secrets/<%= secret.id %>" data-method='delete'>Destroy</a>
		<% end %>
		</td>
	</tr>
	<% end %>
</table>

<h4><a href="/secrets/new">Back to post secret</a></h4>

