<h1><%= @user.first_name %> user id: <%= @user.id %></h1>
<%= link_to('log off', signout_path) %>
<hr>
<h3><%= @user.first_name %></h3>
<h4>New Secret</h4>
<form action='/secrets' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type='hidden' name='secret[id]' value='<%= @user.id %>'>
  <label>secret:</label>
  <input type='text' name='secret[content]' placeholder='place secret here'/>
  <input type='submit' value='Create Secret' />
</form>



<table>
<tr>
	<td>Secret</td>
	<td>Actions</td>
</tr>
<% @secrets.each do |secret| %>
<tr>
	
	<td><%= secret.content %></td>
	<td>
	<a href="/secrets/<%= secret.id %>" data-method='delete'>Destroy</a>
	</td>
</tr>
<% end %>
</table>

<h2><a href="/secrets">All secrets</a></h2>

